acme==3.1.0
certbot==3.1.0
certbot-dns-digitalocean==3.1.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
ConfigArgParse==1.7
configobj==5.0.9
cryptography==44.0.0
distro==1.9.0
ibm-cloud-sdk-core==3.22.1
ibm-code-engine-sdk==4.4.1
ibm-platform-services==0.59.1
idna==3.10
josepy==1.14.0
jsonpickle==4.0.1
parsedatetime==2.6
pycparser==2.22
PyJWT==2.10.1
pyOpenSSL==25.0.0
pyRFC3339==2.0.1
python-dateutil==2.9.0.post0
python-digitalocean==1.17.0
pytz==2024.2
requests==2.32.3
six==1.17.0
typing_extensions==4.12.2
urllib3==2.2.3
